
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

html {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
}


.title {
    margin-left: 260px;
}

.all-container{
    margin-top: 6%;
}

#main {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 50%;
}

#main button {
    width: 20%;
    margin: 16px 20px;
}

.input {
    width: 90%;
}

#list-of-ingredients {
    text-align: center;
    height: 100px;
    width: 50%;
    margin: 1% auto;
}

.ingredient-container ol {
    margin-top: 8px;
    text-align: center;
}

#list-of-ingredients li {
    display: inline-block;
    list-style: none;
    background-color: hsl(204, 86%, 53%);
    color: #fff;
    width: auto;
    padding: 0 3%;
    border-radius: 12px;
    margin: 8px auto;
}

#list-of-ingredients li:hover{
    background-color: hsl(348, 100%, 61%);
    color: #111;
    cursor: pointer;
}


.list-item span:hover {
    font-weight: bolder;
    font-size: 26px;
    cursor: pointer;
}

.menu-list li {
margin-top: 30px;
height: 16px;
font-size: 18px;
font-weight: 400;
}

.menu-list a:hover, details summary:hover {
    background: hsl(171, 100%, 41%);
    color: #fff;
    font-weight: bold;
    }



.time-grid {
    display: grid;
    grid-template-columns: 16px;
    grid-template-rows: repeat(3, 50%); 
}

#time {
    padding-top: 70px;
    transform: rotate(-90deg);
    padding-right: 8px;
    font-size: 20px;
    color: rgba(17, 17, 17, 0.541);
}

.planner-grid {
    display: grid;
    width: 80%;
    height: auto;
    margin-left: 8px;
    grid-template-columns: auto repeat(5, 1fr);
    grid-template-rows: 20% repeat(5, 50%);
}

.planner-grid .align-center{
    padding-top: 16px;
    background-color: hsl(204, 86%, 53%);
    color: #fff;
    font-weight: bolder;
}

.planner-grid div {
    border: 1px solid rgb(153, 148, 148);
    text-align: center;
}

.planner-grid p {
    transform:rotate(-90deg);
    padding-top: 10px;
    padding-right: 8px;
}

.nutrition-label {
    text-align: left;
}

.nutrition-label li {
    padding-left: 8px;
    margin-bottom: 6px;
}

/* Carousel Styling */

.carousel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    height: 50%;
    width: 50%;
}

/* Targets each display */
.carousel-item { 
    display: none;
    margin: 0 auto;
    background: rgba(103, 164, 204, 0.46);
    width: 500px;   
    height: 300px;
    justify-content: center;
    flex-wrap: wrap;
    
}

.carousel-item-selected {
    display: block;
}

.carousel-item h3{
    text-align: center;
}
/* Targets each display */


.carousel-nav {
    background-color: rgba(103, 164, 204, 0.46);
    height: 10%;
    width: 500px;
    text-align: center;
}

.carousel-button {
    width: 10px;
    height: 10px;
    display: inline-block;
    background: rgba(255, 255, 255, 0.632);
    border-radius: 50px;
    margin: 0 5px;
}

.carousel-button:hover {
    background: rgb(14, 35, 188);
    cursor: pointer;
}

.carousel-button-selected {
    background: rgb(14, 35, 188);
}

.carousel-item img {
    display: block;
    margin: 0 auto 11.9328px auto;
    width: 250px;
    height: 190px;
}

.carousel-item button {
    margin: 20px;
}



/* Dropdown Menu */
summary {
    margin-bottom: 10px;
}



.summary-container{
    display: block;
    position: relative;
    z-index: 2;
}

li {
    z-index: 2;
}