html {
    margin: 0;
    padding: 0;
}

.title {
    margin: 20px 20vw;
}

#main {
    display: relative;
    border: 1px solid black;
    width: 100%;
    margin-left: 5%;
}

form {
    display: flex;
    width: 20vh;
}

form button {
    margin: 12px 12px 0px 8px;
}

#list-of-ingredients {
    display: inline-block;
    width: 38%;
    height: 300px;
    padding-left: 12px;
    background-color: rgba(221, 234, 234, 0.473);
    border: 1px solid black;
    border-radius: 6px;
    margin-right: 0;
}

.menu-list li {
margin-top: 30px;
height: 16px;
font-size: 18px;
font-weight: 400;
}

.menu-list a:hover {
    background: hsl(171, 100%, 41%);
    color: #fff;
    font-weight: bold;
    }

.menu-list li span {
    margin-right: 8px;
}


.time-grid {
    display: grid;
    grid-template-columns: 16px;
    grid-template-rows: repeat(3, 50%); 
}

#time {
    padding-top: 70px;
    transform: rotate(-90deg);
    padding-right: 8px;
    font-size: 20px;
    color: rgba(17, 17, 17, 0.541);
}

.planner-grid {
    display: grid;
    width: 80%;
    height: auto;
    margin-left: 8px;
    grid-template-columns: auto repeat(5, 1fr);
    grid-template-rows: 20% repeat(5, 50%);
}

.planner-grid .align-center{
    padding-top: 16px;
    background-color: hsl(204, 86%, 53%);
    color: #fff;
    font-weight: bolder;
}

.planner-grid div {
    border: 1px solid rgb(153, 148, 148);
    text-align: center;
}

.planner-grid p {
    transform:rotate(-90deg);
    padding-top: 10px;
    padding-right: 8px;
}

.nutrition-label {
    text-align: left;
}

.nutrition-label li {
    padding-left: 8px;
    margin-bottom: 6px;
}

/* Carousel Styling */

.carousel {
    position: relative;
    display: inline-block;
    margin-bottom: 8px;
    width: 40%;

}

/* Targets each display */
.carousel-item { 
    display: none;
    background: rgba(103, 164, 204, 0.46);
    padding: 1em;    
    justify-content: center;
    flex-wrap: wrap;
    
}

.carousel-item-selected {
    display: flex;
}
/* Targets each display */


.carousel-nav {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    z-index: 1;
}

.carousel-button {
    width: 10px;
    height: 10px;
    display: inline-block;
    background: rgba(255, 255, 255, 0.632);
    border-radius: 50px;
    margin: 0 5px;
}

.carousel-button:hover {
    background: rgb(14, 35, 188);
    cursor: pointer;
}

.carousel-button-selected {
    background: rgb(14, 35, 188);
}

.carousel-item img {
    display: block;
    margin: 0 auto 11.9328px auto;
}

.text-center {
    text-align: center;
    margin-bottom: 8px;
    font-weight: bolder;
    color: #fff;
}

.carousel-item button {
    margin-bottom: 20px;
}